TitleElement {
    margin: 5px;
    padding: 5px 0 5px 0;
    font-size: 20px;
    color: black;
    border-color: black;
    border-width: 2px 0 2px 0;
    -unity-font-style: bold;
    -unity-text-align: middle-center;

}